.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #181616;
    color: white;
  }
  .banner h1 {
    font-size: 32px;
    margin: 0;
  }