.exhibit {
    background-color: rgb(229, 227, 240);
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 24px;
  }
  .exhibit h2 {
    margin-top: 0;
  }